body{background: rgb(241, 194, 200);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   
}
.Container {position: relative;
   width: 100%;
   max-width: 1000px;
   min-height: 1000px;
   background: #fff;
   margin: 50px;
   display: grid;
   grid-template-columns: 1fr 2fr;
   box-shadow: 0 35px 55px rgba(0,0,0,0.1);

}
.leftContainer {
   position: relative;
   background-color: rgb(160, 105, 105);
   padding: 40px;
}
.profileText{
  position: relative; 
  display: flex;
  flex-direction:column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255,255,255,0.2);

}
.icon {
   width: 200px;
   height: 200px;
}
.iconC{
   width: 20px;
   height: 20px;
   
}
.texas { 
   width: 60%;
   text-align: right;
   text-transform: lowercase;
   position: relative;
   
}
.profileText h2 {
   color: #fff;
   font-size: 1.5em;
   margin-top: 20px;
   text-transform: uppercase;
   text-align: center;
   font-weight: 600;
   line-height: 1.4em;
}


.contactInfo{
   color: #fff;
   text-transform:capitalize;
   font-weight: 600;
   letter-spacing: 1px;
       
}
.contactInfo.Education li 
   {
   margin-bottom: 15px;
}
.contactInfo.Education h5 {
   color:aqua;
   font-weight: 500;
}
.contactInfo.Education h4 {
   color: #fff;
   font-weight: 500; 
}
.percent1 { 
    position:relative;
    width: 100%;
    height: 6px;
    background: rgb(73, 30, 30);
    display: block;  
}
.percent2 {
    position: relative;
    width: 80%;
    height: 6px;
    background: rgb(119, 45, 45);
    display: block;
}
.percent3 {
    position: relative;
    width: 60%;
    height: 6px;
    background: rgb(165, 71, 71);
    display: block;
}



.rightContainer {
   position: relative;
   background-color:#fff ;
   padding: 40px;
}
.about {
   margin-bottom: 50px;
}
.about:last-child {
   margin-bottom: 0;
}
.title2 {
   color: rgb(194, 4, 4);
   
}
p { 
   color:brown
}
.year_company {
   line: height 0.5em;;
}